[Desktop Entry]
Type=Application
Name=Netflix
Comment=Netflix para Steam Gaming Mode
Exec=/usr/bin/bash /home/oai/.local/share/steam-media-pack-11/launchers/netflix.sh
Icon=steam-media-netflix
Terminal=false
Categories=AudioVideo;Network;
