[Desktop Entry]
Type=Application
Name=Spotify
Comment=Spotify para Steam Gaming Mode
Exec=/usr/bin/bash /home/oai/.local/share/steam-media-pack-11/launchers/spotify.sh
Icon=steam-media-spotify
Terminal=false
Categories=AudioVideo;Network;
