[Desktop Entry]
Type=Application
Name=Max
Comment=Max para Steam Gaming Mode
Exec=/usr/bin/bash /home/oai/.local/share/steam-media-pack/launchers/max.sh
Icon=steam-media-max
Terminal=false
Categories=AudioVideo;Network;
